# インストールコマンドで引っ張ってくるディレクトリ
FTG4.50/
ERHEA_PI_DJL.zip
ERHEA_PI_DJL/

# 手動で引っ張ってくるディレクトリ
updated_2021Competition/

# インストールコマンドで作成されるシンボリックリンク
packager/lib/FightingICE.jar
FTGrunner/FTG4.50/
packager/src/main/java/*
!packager/src/main/java/.gitkeep
packager_2021/src/main/java/*
!packager_2021/src/main/java/.gitkeep
packager_PPO_PG/src/main/java/*
!packager_PPO_PG/src/main/java/.gitkeep
